<h1>{{language.email_confirmation}}</h1>
<p style="font-size: 18px; color: #767676">{{language.email_confirmation_enter_code}}:</p>
<p style="font-size: 40px; margin: 0; font-weight: 600;">{{code}}</p>