<div style="background: #F0F0F0; padding: 3rem; ">
    <div style="background: #fff; margin: 0 auto; max-width: 600px; padding: 3rem 2rem">
        <div style="text-align: center; margin-bottom: 1rem">
            <img src="https://api.eon.uz/images/logo.png" alt="Eon logo">
        </div>
        <div style="margin-bottom: 2rem; text-align: center">
        {{{body}}}
        </div>
    </div>
</div>
