<h1>Восстановление аккаунта</h1>
<p style="font-size: 18px; color: #767676">Введите код для подтверждения:</p>
<p style="font-size: 40px; margin: 0; font-weight: 600;">{{code}}</p>
<p style="font-size: 18px; color: #767676">или</p>
<a
        href="http://localhost:3000/reset-password/{{email}}/{{code}}"
        style="padding: 1rem 2rem; background: #b13038; color:#fff; border-radius: 10px; font-size: 18px; text-decoration: none;"
>
    Нажмите сюда
</a>
